<div id="jta-meta-data">
  <div id="jta-input">
    <h2>JTA Meta Data</h2>
    <label for="start-date">
      JTA Start Date: <input type="date" name="start-date" id="start-date">
    </label>
    <br>
    <label for="end-date">
      JTA End Date: <input type="date" name="end-date" id="end-date">
    </label>
    <br>
    <label for="exam-name">
      Exam Name:
      <input type="text" name="exam-name" id="exam-name">
    </label>
  </div>
  <div id="jta-output">
    <p>
      JTA link: <span id="jta-link"></span>
    </p>
    <p>
      Dashboard link: <span id="jta-dashboard"></span>
    </p>
  </div>
</div>


@for (page of surveyContent.pages; track page.pageNum) {
<!-- Display a page component for each page -->
<div>
  <cert-page [page]="page" />
  <!-- Technically, I can also just pass the $index to the removePage function -->
  <button (click)="removePage(page.pageNum) ">Remove Page</button>
</div>
}
<button (click)="addPage()">Add a page</button>

<dialog #warnDialog>
  <form method="dialog">
    <p>Are you sure you want to remove this page?</p>
    <div class="dialog-btns">
      <button (click)="this.warnDialog().nativeElement.close('cancel')">Cancel</button>
      <button (click)="this.warnDialog().nativeElement.close('confirm')">Confirm</button>
    </div>
  </form>
</dialog>