<div class="stem">
    <label for="mc-text" class="mc-text">Stem:
        <!-- <input type="text" name="mc-text" id="{{mcObj().id + '-text'}}"> -->
        <cert-editor [(html)]="mcObj().text" />
    </label>
</div>
@for (alternative of mcObj().alternatives; track alternative.id) {
    <div class="alternative">
        <span>{{$index | numberToString}}. </span><cert-editor [(html)]="mcObj().alternatives[$index].text" />
    </div>
    <button (click)="removeAlternative(alternative.id)">Remove alternative</button>
}
@if (this.mcObj().hasComment) {
<p>{{mcObj().alternatives.length | numberToString }}. Other (Please Specifiy)</p>
}
<button class="add-alternative" (click)="addAlternative()">Add an alternative</button>

<button (click)="toggleOtherOption()">{{this.mcObj().hasComment? "Remove Other option" : "Add Other option"}}</button>

<!-- Question Preview -->