<label for="mc-text" class="mc-text">
    <!-- <input type="text" name="mc-text" id="{{mcObj().id + '-text'}}"> -->
    <cert-editor [(html)]="mcObj().text"/>
</label>
@for (alternative of mcObj().alternatives; track alternative.id) {
    <cert-editor [(html)]="mcObj().alternatives[$index].text" />
    <button (click)="removeAlternative(alternative.id)">Remove alternative</button>
}
@if (this.mcObj().hasComment) {
    <p>Other (Please Specifiy)</p>
}
<button class="add-alternative" (click)="addAlternative()">Add an alternative</button>

<button (click)="toggleOtherOption()">{{this.mcObj().hasComment? "Remove Other option" : "Add Other option"}}</button>

<!-- Question Preview -->