/* You can add global styles to this file, and also import other style files */

pre {
    background-color: rgb(255, 164, 164);
    code {
        background-color: unset;
    }
}

code {
    font-size: large;
    background-color: rgb(170, 253, 161);
}